<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <p>You have recieved an contact message from this sites contact form. from <%= "#{ @name }, #{ @email }." %></p>
        <p><%= @body %></p>
    </body>
</html>